html body {
  background-color: black;
  color:white;
}

.calculator-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ;
  width: 320px;
  padding:0px;
  align-items: center;
}

.screen-container {
  position: absolute;
  display: block;
  width: 260px;
  left: 48px;
}

.screen {
  position: relative;
  width: 262px;
  left: 38px;
  background-color: white;
  color:black;
  border:solid 2px black;
  height:84px;
  font-size: 3em;
  margin: 1px;
}

.calc-row {
  /* width:366px; */
  display: flex;
  margin: 0px;
  flex-wrap:wrap;
  align-content:space-around;
}

li {
  list-style: none;
  text-align:center;
  vertical-align:middle;
  padding-top:
}

.calc-btn {
  width:84px;
  height:84px;
  background-color: brown;
  margin:1px;
  border:solid 1px white;
  font-size: 3em;
  color:white;
}

.op-btn {
  background-color: purple;
}

.equals-button {
  position:absolute;
  left: 40px;
  margin-right: 20px;
  width: 260px;
  margin: 1px;
  border: solid 1px white;
  background-color: gray;
  color:white;
  text-align:center;
  vertical-align:middle;
}
